<!-- Navigation info -->
<ul id="nav-info" class="clearfix">
    <li>
      <a href="index.html"><i class="fa fa-home"></i></a>
    </li>
    <li class="active"><a href="">Dashboard</a></li>
  </ul>
  <!-- END Navigation info -->

  <!-- Tiles -->
  <!-- Row 1 -->
  <div class="dash-tiles row">
    <!-- Column 1 of Row 1 -->
    <div class="col-sm-3">
      <!-- Total Users Tile -->
      <div
        class="dash-tile dash-tile-ocean clearfix animation-pullDown"
      >
        <div class="dash-tile-header">Total Users</div>
        <div class="dash-tile-icon"><i class="fa fa-users"></i></div>
        <div class="dash-tile-text">265k</div>
      </div>
      <!-- END Total Users Tile -->
    </div>
    <!-- END Column 1 of Row 1 -->

    <!-- Column 2 of Row 1 -->
    <div class="col-sm-3">
      <!-- Total Sales Tile -->
      <div
        class="dash-tile dash-tile-flower clearfix animation-pullDown"
      >
        <div class="dash-tile-header">Total Sales</div>
        <div class="dash-tile-icon"><i class="fa fa-tags"></i></div>
        <div class="dash-tile-text">300k</div>
      </div>
      <!-- END Total Sales Tile -->
    </div>
    <!-- END Column 2 of Row 1 -->
    <div class="col-sm-3">
      <div class="dash-tile dash-tile-oil clearfix animation-pullDown">
        <div class="dash-tile-header">Popularity</div>
        <div class="dash-tile-icon"><i class="fa fa-globe"></i></div>
        <div class="dash-tile-text">+90%</div>
      </div>
    </div>

    <div class="col-sm-3">
      <div
        class="dash-tile dash-tile-balloon clearfix animation-pullDown"
      >
        <div class="dash-tile-header">RSS Subscribers</div>
        <div class="dash-tile-icon"><i class="fa fa-rss"></i></div>
        <div class="dash-tile-text">160k</div>
      </div>
    </div>
    <!-- END Tiles -->
  </div>
  <!-- END Page Content -->